master:
  JCasC:
    enabled: true

  ingress:
    enabled: true
{{- if .Values.jxRequirements.ingress.domain }}
    hostName: "jenkins-{ .Values.jxRequirements.ingress.namespaceSubDomain | default Release.Namespace }}{{ .Values.jxRequirements.ingress.domain }}"
{{- end }}
  sidecars:
    configAutoReload:
      enabled: true
rbac:
  create: true